body {
  background: #000;
  background-image: url("../images/binary3.jpg");
  background-attachment: fixed;
  background-size: 100%;
}

div {
  background: rgba(240, 255, 255, 0.4);
  width: 90%;
  margin-top: -18px;
}

h3 {
  text-align: center;
  margin-top: 0;
}

.hero {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

#hero {
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
  max-width: 89.2%;
  margin: 0 5% 0 5.4%;
}

.video{
    z-index: 2;
    text-align: center;
    background:  rgba(0, 0, 0, 0.5);
  max-width: 89.7%;
  margin: 76px 5% 0 5.3%;
}

h1 {
  color: aqua;
  margin-bottom: -10px;
  margin-top: -3px;
}

h2.serviceH{
    background-color: transparent;
  padding: 7px;
  margin: 0;
  border-radius: 30px 30px 0px 0px;
  -moz-border-radius: 30px 30px 0px 0px;
  -webkit-border-radius: 30px 30px 0px 0px;
}
h2 {
  background-color: transparent;
  color: rgb(0, 0, 0);
  padding: 7px;
  margin: -18px 0 0 0;
  border-radius: 30px 30px 0px 0px;
  -moz-border-radius: 30px 30px 0px 0px;
  -webkit-border-radius: 30px 30px 0px 0px;
}
h2:hover{
    color: rgb(111, 0, 255);
    transition: 1s;
}

#services {
  text-align: center;
  margin: 20px 5% 0 5%;
  border-radius: 30px 0px 0px 0px;
  -moz-border-radius: 30px 30px 0px 0px;
  -webkit-border-radius: 30px 30px 0px 0px;
}

.serv {
  display: table-cell;
  vertical-align: top;
  width: 30%;
  padding: 7px;
  text-align: justify;
}

#team {
  text-align: center;
  margin: 0 5% 0 5%;
}

.mbr {
  display: table-cell;
  vertical-align: top;
  width: 30%;
  padding: 7px;
  text-align: center;
}

.mbr p {
  font-style: italic;
}

#folio {
  text-align: center;
  margin: 0 5% 0 5%;
}

#folio div {
  display: table-cell;
  vertical-align: top;
  width: 48%;
  padding: 7px;
  text-align: justify;
}

#contact {
  text-align: center;
  margin: 0 5% 0 5%;
}

#contact div {
  display: table-cell;
  vertical-align: top;
  width: 100%;
  padding: 7px;
}

footer {
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  color: aliceblue;
  margin: 0 5% 0 5%;
}

footer ul li {
  display: inline-table;
  vertical-align: top;
  width: 30%;
  text-align: center;
}

.responsive {
  width: 100%;
  height: auto;
}

#team img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 120px;
}

#services img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 240px;
  max-height: 120px;
}

#nav {
  display: flex;
  justify-content: space-between;
  height: 50px;
  background: transparent;
  width: 80%;
  text-align: center;
  padding-left: 10%;
  padding-top: 10px;
}


button {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgb(0, 74, 220);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

button:hover {
  background-color: rgba(0, 74, 255, 1);
}

button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

:link {
  text-decoration: none;
  color: aliceblue;
}
a:visited {
  color: aliceblue;
}
a:hover {
  color: aquamarine;
  transition: 500ms;
}
